---
layout: default
title: About
permalink: /about/
category: helper
sitemap:
    priority: 0.7
    changefreq: 'monthly'
    lastmod: 2016-11-10
---
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>{{ page.title }}</h1>
      <p class="lead">Build courses faster and better. Make sailing more fun!</p>
    </div>
  </div>
  <div class="row">
       <div class="col-md-6">
	 <p>
	   Sailing is all about strategy. Wind shifts, currents, weather, and other sailors all play into that, but if your course isn't set right, all other factors become insignifcant. 
	 </p>
	 <p>
	   We think better courses make sailing more fun, and we think courses can be made better and faster. RegattaHub makes that possible.
	 </p>
       </div>
       <div class="col-md-6">
	 <p>
	   Managing race courses is hard work, especially when the wind gets shifty. We appreciate all the volunteers on local Race Committees expecially because we often are those volunteers, but we also recognize that much can be done better.
	 </p>
	 <p>
	   Managing a team of volunteers can be tricky. By improving communication, RegattaHub makes setting and re-setting courses faster and more accurate.
	 </p>
       </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% include mailchimp.html %}
    </div>
  </div>
<!--
  <div class="row">
    <div class="col-md-12">
      <h2>How it all started</h2>
      <p>This is another paragraph explaining the story of how and more importantly why the project was started. Keep these short as not many people will read them. These lines should be full of useful links.</p>
    </div>
  </div>
  -->
  <div class="row">
    <h1 class="text-center">The Team</h1>
  <!-- I think it looks better without the heading for team -->
  <!-- try to get some images in here. anyone clicking over here clearly wants to see us. -->
  {% include team-members.html %}
  </div>
</div>
