  {% for member in site.pages %}
  {% if member.category=='team' %}
<div class="col-md-4 text-center">
  <h3>{{ page.title }}</h3>
  <h4>{{ page.job }}</h4>
  <p><img src="{{ site.baseurl }}/img/{{ page.image }}" alt="{{ page.title }} profile" style="width:50%; border-radius:50%;"></p>
  <p>{{ page.content }}</p>
  <div class="social team-social">
    <ul class="social team-social">
      {% if page.email %}
      <li class="social team-social">
	<a href="mailto:{{ page.email }}">
	  <i class="fa fa-envelope"></i></a>
      </li>
      {% endif %}
      {% if page.twitter_username %}
      <li class="social team-social">
	<a href="https://twitter.com/{{ page.twitter_username }}">
	  <i class="fa fa-twitter"></i></a>
      </li>
      {% endif %}
      {% if page.github_username %}
      <li class="social team-social">
	<a href="https://github.com/{{ page.github_username }}">
	  <i class="fa fa-github"></i>
	</a>
      </li>
      {% endif %}
      {% if page.linkedin_username %}
      <li class="social team-social">
	<a href="https://linkedin.com/in/{{ page.linkedin_username }}">
	  <i class="fa fa-linkedin"></i> LinkedIn
	</a>
      </li>
      {% endif %}
      {% if page.google_plus_username %}
      <li class="social team-social">
	<a href="https://plus.google.com/{{ page.google_plus_username }}">
	  <i class="fa fa-google-plus"></i> Google+
	</a>
      </li>
      {% endif %}
      {% if page.facebook_username %}
      <li class="social team-social">
	<a href="https://www.facebook.com/{{ page.facebook_username }}">
	  <i class="fa fa-facebook"></i> Facebook
	</a>
      </li>
      {% endif %}
      {% if page.dribbble_username %}
      <li class="social team-social">
	<a href="https://dribbble.com/{{ page.dribbble_username }}" class="icon">
	  <i class="fa fa-dribbble"></i> Dribbble
	</a>
      </li>
      {% endif %}
    </ul>
    
  </div>
  </div>
  {% endif %}
  {% endfor %}
